<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relytory brands</title>
</head>
<body>
  <%- include('Partials/header') %>
  <h2>Pick a bike brand:</h2>
  <a href="/brand/new" class="button">New Brand</a>
  <div class="brands">
    <% brands.forEach((brand) => { %>
      <div class="card">
        <a href="/brand/<%= brand.brand_name %>/bikes"><%= brand.brand_name %></a>
        <div class="buttons">
          <a href="/brand/<%= brand.id %>/update" class="button">Update</a>
          <a href="/brand/<%= brand.id %>/delete" class="button">Delete</a>
        </div>
      </div>
    <% })  %>
  </div>
  <%- include('Partials/footer') %>
</body>
</html>