<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relytory <%= action %> category</title>
</head>
<body>
  <%- include('Partials/header') %>
  <h3><%= action %> category</h3>
  <form action="" method="post">
    <label for="catName">Category name: </label>
    <input type="text" name="catName" id="name" value="<%= defVal %>">
    <button type="submit">Submit</button>
  </form>
</body>
<%- include('Partials/footer') %>
</html>