<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/view.css">
  <title>Relytory <%= action %> brand</title>
</head>
<body>
  <%- include('Partials/header') %>
  <div class="listContent">
    <h3><%= action %> brand</h3>
    <%- include('Partials/errors') %>
    <form action="" method="post">
      <label for="brandName">Name: </label>
      <input type="text" name="brandName" id="name" value="<%= brand ? brand.brand_name : '' %>">
      <label for="brandCountry">Country: </label>
      <input type="text" name="brandCountry" id="country" value="<%= brand ? brand.country : '' %>">
      <button type="submit">Submit</button>
    </form>
  </div>
  <%- include('Partials/footer') %>
</body>
</html>